src/main/mule/sgst-mm-edi-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sgst-mm-edi-eapi-main">
        <http:listener config-ref="sgst-mm-edi-eapi-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="sgst-mm-edi-eapi-impl-convert-headers-to-kebabcase" doc:id="e2d16791-e30c-4679-a0b1-0b59219b67e0" name="sgst-mm-edi-eapi-impl-convert-headers-to-kebabcase" />
        <apikit:router config-ref="sgst-mm-edi-eapi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\purchase-plan:multipart\form-data:sgst-mm-edi-eapi-config">
        <flow-ref doc:name="sgst-mm-edi-eapi-impl-flow" doc:id="229d35ac-04a1-4560-b0cf-e18864b4e51c" name="sgst-mm-edi-eapi-impl-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\purchase-price:multipart\form-data:sgst-mm-edi-eapi-config">
        <flow-ref doc:name="sgst-mm-edi-eapi-impl-flow" doc:id="0b34fa9a-6d90-4eb8-a314-ba061b96eb19" name="sgst-mm-edi-eapi-impl-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\vendor-master:multipart\form-data:sgst-mm-edi-eapi-config">
        <flow-ref doc:name="sgst-mm-edi-eapi-impl-flow" doc:id="dcc782e9-5b4d-4fca-8087-28df09254ea1" name="sgst-mm-edi-eapi-impl-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\control-indicator:multipart\form-data:sgst-mm-edi-eapi-config">
        <flow-ref doc:name="sgst-mm-edi-eapi-impl-flow" doc:id="600bea09-2625-4d5f-b7f9-83c6a113b0f9" name="sgst-mm-edi-eapi-impl-flow" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\purchase-orders:multipart\form-data:sgst-mm-edi-eapi-config">
        <flow-ref doc:name="sgst-po-edi-eapi-impl-flow" doc:id="4399c880-e564-4688-9367-9332438f9c03" name="sgst-po-edi-eapi-impl-flow" />
    </flow>
    <flow name="post:\purchase-results:multipart\form-data:sgst-mm-edi-eapi-config">
        <flow-ref doc:name="sgst-pr-edi-eapi-impl-flow" doc:id="dab6d87c-76f3-4951-9430-3a08fa31e50c" name="sgst-pr-edi-eapi-impl-flow" />
    </flow>
    <flow name="post:\material-master:multipart\form-data:sgst-mm-edi-eapi-config">
        <flow-ref doc:name="sgst-mm-edi-eapi-impl-flow" doc:id="8cd1e86c-5621-40e7-b534-f8e65c60b157" name="sgst-mm-edi-eapi-impl-flow" />
    </flow>
    <flow name="post:\purchase-value-attributes:multipart\form-data:sgst-mm-edi-eapi-config">
		<flow-ref doc:name="sgst-mm-edi-eapi-impl-flow" doc:id="26d37f9e-dc2d-4a27-b63e-2c6491c83d6a" name="sgst-mm-edi-eapi-impl-flow" />
    </flow>
</mule>
